body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.top-banner{
  background-image: url(images/donation5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 480px;   
  text-align: center;
  color:white;
 
}
.half-width{
    padding-top:6%;
    font-size:x-large;  
}
.donate-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    font-weight: 700;
    color: white;
    border-radius: 5px;
}
.donate-today{
    text-align: center;
    font-size: large;
}
.donate-list{
    text-align: center;
    font-size: xx-large;
}
.donate-list ul li{
   list-style-type: none;
   display: inline-block;
   padding: 10px 40px;
}
.donate-list ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: capitalize;
}
.donate-list ul li a:hover{
    color: orangered;
    transition: .4s;
}
.donate-amount{
    text-align: center;
}
.donate-plan{
    text-align: center;
    font-size: x-large;
}
.donate-box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.donate-box i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 20px 0px;
    color: #5f5b5c;
}
.donate-food{
    height: 270px;
    width: 360px;
    padding: 20px 35px;
    background: #a8c2c27e ;
    border-radius: 20px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.donate-shelter{
    height: 270px;
    width: 360px;
    padding: 20px 35px;
    background: #f3e69b7e ;
    border-radius: 20px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.donate-education{
    height: 270px;
    width: 360px;
    padding: 20px 35px;
    background: #e0a2c97e ;
    border-radius: 20px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.contact-form{
    text-align: center;
    margin: 40px 0px;
    font-size:xx-large;
}
.input-fild{
    font-size: 20px;
}
.input-hobar{
    height: 200px;
    width: 90%;
    background:bisque ;
    border-radius: 20px;
    background-position: center;
    margin-left: 70px;
    padding-top: 10%;
}
.btn{
    border-radius:5px;
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background-color: tomato;
    color: white;
}
footer{
    text-align: center;
    background: #322f3d;
    height: 150px;
    padding-top: 10px;
}
footer h1{
    color: tomato;
}
