body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.top-banner{
  background-image: url(images/donation5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;   
  text-align: center;
  color:white;
}
.half-width{
    padding-top:6%;
    font-size:x-large;
    
    
}
.donate-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    font-weight: 700;
    color: white;
    border-radius: 5px;

}
.donate-today{
    text-align: center;
    font-size: large;
}
.donate-list{
    text-align: center;
    font-size: xx-large;
}
.donate-list ul li{
   list-style-type: none;
   display: inline-block;
   padding: 10px 40px;
    
}
.donate-list ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: capitalize;

}
.donate-list ul li a:hover{
    color: orangered;
    transition: .4s;

}
.donate-amount{
    text-align: center;
}
